body {
  background-image: url('https://i.ytimg.com/vi/1qp7nPQ6xFg/maxresdefault.jpg');
  background-size: cover;
  
}


a {
  border-radius: 75px;
  display: block;
  margin: auto;
  border: 3px solid black;
  font-family: chalkduster;
}

#play {
  font-size: 40px;
  color: white;
  font-family: "chalkboard se";
  background-color: black;
  text-align: center;
  text-decoration: none;
  width: 300px;
  
}

h1 {
  text-align: center;
  font-family: desdemona;
  font-size: 75px;
}