body {
    
    background-color: white;
    background-image: url("http://www.postype.com/files/2016/01/31/15/51/de2f18d4eddd577bd44935483a50557a.gif");
    background-size:100%;
    background-repeat:no-repeat;
    background-position: center; 
    min-height: 100%;
    
    
}

html{
    min-height: 100%;
    
}